<h2>Expert</h2>
<h3>Here are some questions you could answer.</h3>
<div ng-show="QuestionsFactory.questions.length">
  <ul>
    <li ng-repeat="item in QuestionsFactory.questions">
      <a ui-sref="item({ questionId: item.id })">{{ item.input }}</a>
    </li>
  </ul>
  <form ng-submit="addAnswer()" class="form-inline" role="form">
      <div class = "form-group">
        <label>Answer:</label>
        <input ng-model="expertAnswer" type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
    </form>



<div ng-show="QuestionsFactory.questions.length">
  <h3>Answers</h3>
  <ul>
    <li ng-repeat="item in QuestionsFactory.questions">
      {{ item.answers}}
    </li>
  </ul>
    {{ QuestionsFactory.questions }}
</div>
