<h1>Ask an Expert!</h1>

<h3><a ng-click="showquestion = showquestion ? false : true" class="btn btn-primary">Ask a question</a></h3>

<button ui-sref="experts-state"type="submit" class="btn btn-primary pull-right" id="expert">Log in as an expert.</button>

<div ng-show = "showquestion">
  <form>
    <div class = "form-group">
      <label for="question">Ask your question</label>
      <input id = "question" type="text" name="question">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </form>
</div>
